
/* || GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #101010;
}

.page {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.max_page_width {
	height: auto;
	max-width: 1920px;
	margin: auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: #101010;
}

/* || VIDEO CAROUSEL */

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	position: absolute;
	left: 50%;
	top: 52%;
	transform: translate(-50%, 0);
	font-weight: lighter;
	z-index: 3;
}

.title p strong {
	background-color: transparent;
	font-size: 30px;
	letter-spacing: 4px;
}

.title p {
	background-color: transparent;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	margin-top: 5px;
}

.background {
	height: auto;
	width: auto;
	max-width: 1920px;
}

.main_carousel {
	height: 100%;
	width: 100%;
}


.quick-info {
	height: 400px;
}


/* HOUSE QUICK INFO */


.allign-horizontal {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.icon {
	height: auto;
	width: 13px;
	object-fit: contain;
}

.icon-small {
	height: auto;
	width: 20px;
	object-fit: contain;
	margin-right: 10px;
}

.allign-horizontal p {
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: lighter;
	margin-left: 5px;
}

.address {
	margin-left: 23%;
	margin-top: 120px;
}

.location {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.location img {
	margin-right: 10px;
}



.teren-casa {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 10px;
}

.detalii-casa {
	display: flex;
	flex-direction: row;
}


.casa {
	margin-left: 200px;
	margin-top: 80px;
}

.this-little-guy-is-annoying {
	margin-top: 15px;
}


/* || MAP */

#map {
	width: 100%;
	height: 600px;
	background: transparent;
}

.padding {
	width: 100%;
	height: 300px;
	background-color: #101010;
}


/* || 3D MODEL + TEXT */


.detailed-presentation {
	height: 800px;
	display: flex;
	flex-direction: row;
}

.terrain-model {
	display: flex;
	flex-direction: row;
}

#model {
	width: 900px;
	height: 700px;
	margin-left: 200px;
}

.text {
	margin-left: 130px;
	margin-top: 175px;
	width: 410px;
	height: 200px;
}

.text p {
	font-size: 20px;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: lighter;
	margin-top: 30px;
}
