body {
	height: 630vh;
	background-color: #101010;
}

html {
	scroll-behavior: smooth;
}


#line {
	position: absolute;
	width: 100vw;
	height: 1px;
	background-color: red;
}

.fundatie {
	z-index: 2;
}
	

.background {
	background-color: #101010;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	margin: auto;
	overflow: hidden;
}

.page-position {
	height: 800px;
	width: 1500px;
	left: 50%;
	margin: auto;
	overflow: hidden;
}

.menu {
	position: fixed;
	height: 300px;
	width: 300px;
	transform: translate(50%, 100%);
	display: flex;
	flex-direction: column;
	transition: 0.5s 0s;
}

.menu-link {
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	font-size: 17px;
	text-decoration: none;
	opacity: 50%;
	margin-top: 35px;
	transition: 0.5s 0s;
}

.menu-active {
	text-shadow: 0px 0px 1px #FFFFFF;
	opacity: 100%;
	transition: 0.5s 0s;
}

.menu-none {
	opacity: 0%;
	visibility: hidden;
	transition: 0.7s 0s;
}

.menu-link:hover {
	text-shadow: 0px 0px 1px #FFFFFF;
	opacity: 100%;
}

.content {
	height: 70%;
	width: auto;
	margin-left: 30%;
	margin-top: 15%;
	transform: translate(0, -15%);
}

.images {
	height: 300px;
	width: auto;
	margin-top: 70px;
	display: flex;
	flex-direction: row;
}

.image-small {
	height: 300px;
	width: 75px;
	border-radius: 5px;
	object-fit: cover;
	margin-left: 10px;
	background-color: #303030;
	transition: 0.5s 0.07s;
	filter: grayscale(100%);
}

.image-small:hover {
	width: 400px;
	transition: 0.55s 0s;
	filter: grayscale(0%);
}

.first-img {
	margin-left: 0px;
}

.f {
	width: 58px;
}

.z {
	width: 48px;
}

.i {
	width: 58px;
}

.s {
	width: 50px;
}

.links {
	position: fixed;
	height: 30px;
	width: 400px;
	transform: translate(350%, 100%);
	z-index: 3;
}

.link {
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	font-size: 18px;
	text-decoration: none;
	opacity: 70%;
	margin-left: 50px;
	transition: 0.5s 0s;
}

.link-none {
	opacity: 0%;
	visibility: hidden;
	transition: 0.5s 0s;
}

.link:hover {
	text-shadow: 0px 0px 1px #FFFFFF;
	opacity: 100%;
}

.text h1{
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 200;
	font-size: 35px;
	margin-top: 350px;
}

.text p {
	font-size: 18px;
	width: 650px;
	margin-top: 70px;
}


@media only screen and (max-width: 1250px) {
	.menu {
		display: none;
	}
}

@media only screen and (max-width: 1500px) {
	
	body{
		height: auto;
	}

	.links a {
		font-size: 35px;
		opacity: 100%;
		font-weight: 400;
		color: #777777;
	}
	.links {
		position: static;
		transform: translate(35%, 300%);
	}

	.menu {
		font-size: 80px;
		transform: translate(20%, 150%);
	}

	.page-position {
		width: 600px;
		height: auto;
		overflow: visible;
		margin-top: 300px;
	}

	.content {
		margin-left: 0px;
		margin-top: 0px;
		height: auto;
		transform: translate(0%, 0%);
	}
	.content h1 {
		font-size: 7vw;
		margin-top: 0vh;
	}

	.content p {
		font-size: 40px;
	}

	.images {
		flex-direction: column;
		height: auto;
	}	

	.image-small {
		height: 150px;
		width: 600px;
		margin-top: 30px;
		transition: 0.7s 0s;
	}

	.image-small:hover {
		height: 600px;
		width: 600px;
		transition: 0.55s 0s;
		filter: grayscale(0%);
	}

	.image-big {
		height: 600px;
		width: 600px;
		transition: 0.55s 0s;
		filter: grayscale(0%);
		
	}
}

/* CONTACT FORM */

.contact-form {
	padding-left: 50px;
}

.contact-form button,
.contact-form input,
.contact-form textarea {
	background-color: #101010;
}


/* OPEN IMAGE */

.background-fullscreen {
	position: fixed;
	z-index: 4;
	height: 100%;
	width: 100%;
	background-color: #101010;

	transition: 0.5s 0s;
}

.picture-fullscreen {
	position: fixed;
	z-index: 5;
	height: 100%;
	width: auto;
	max-width: 100%;
	margin-left: 50%;
	transform: translate(-50%, 0%);

	object-fit: contain;
	transition: 0s 0s;
}


@media only screen and (max-width: 1500px) {
	
	#contact,
	.contact-phone,
	.contact-email,
	.contact-form input,
	.contact-form textarea {
		margin-left: 0px;
	}

	.contact-form {
		width: 700px;
		padding-left: 0px;
		margin-top: 250px;
	}
	.contact-form input {
		width: 400px;
		height: 50px;
		font-size: 30px;
	}

	.contact-form textarea {
		width: 700px;
		height: 400px;
		font-size: 30px;
	}

	.contact-form button {
		width: 150px;
		height: 60px;
		font-size: 30px;
		margin-bottom: 500px;
	}
	
	#contact {
		font-size: 60px;
	}

	#number,
	#email {
		font-size: 30px;
	}

	.icon-small {
		height: 25px;
		width: 25px;
		margin-top: 10px;
	}

	.contact-email {
		margin-top: 20px;
	}
}

/* OPEN IMAGE BUTTONS */

.button {
	position: fixed;
	z-index: 6;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	background-color: #FFFFFF;
	opacity: 20%;
	border: none;


	visibility: hidden;
}

.button:hover {
	opacity: 30%;
	height: 55px;
	width: 150px;
	transition: 0.3s 0s;
}

#fullscreen-exit {
	right: 0;
	margin-right: 15%;
	margin-top: 1%;
	background-color: #505050;
	opacity: 100%;
	border-radius: 50px;
}

#button-exit {
	height: 20px;
	width: 20px;
	position: relative;
	margin-top: 9%;
	object-fit: contain;
}

#fullscreen-exit:hover {
	background-color: #606060;
	width: 55px;
}

#fullscreen-next {
	height: 250px;
	right: 0;
	margin-right: 2%;
	margin-top: 40vh;
	opacity: 10%;
	transition: 0.5s 0s;
}

#button-next {
	position: relative;
	margin-top: 9%;
	margin-left: 5%;
	height: 20px;
	width: 20px;
	object-fit: contain;
}

#fullscreen-prev {
	height: 250px;
	left: 0;
	margin-left: 2%;
	margin-top: 40vh;
	opacity: 10%;
	transition: 0.5s 0s;
}

#fullscreen-prev:hover,
#fullscreen-next:hover {
	opacity: 20%;
	transition: 0.5s 0s;
}

#button-prev {
	position: relative;
	margin-top: 9%;
	margin-right: 5%;
	height: 20px;
	width: 20px;
	object-fit: contain;
}
