
/* || VIDEO CAROUSEL */

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, 0);
	font-weight: 300;
	z-index: 3;
}

.title p strong {
	background-color: transparent;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 5px;
}

.title p {
	background-color: transparent;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	margin-top: 10px;
}

#welcome_location {
	margin-top: 3px;
}

.background {
	height: 100%;
	width: 100%;
	max-width: 1920px;
}

.main_carousel {
	height: auto;
	width: 100%;
	max-width: 1980px;
	position: absolute;
}

#intro-video {
	width: 100%;
	height: 100vh;
	left: 10px;
	object-fit: cover;
}



/* HOUSE QUICK INFO */

.quick-info {
	height: 400px;
}


.allign-horizontal {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-left: 43%;
}

.allign-horizontal p {
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}

.icon {
	height: auto;
	width: 13px;
	object-fit: contain;
	margin-right: 14px;
	margin-left: 3px;
}

.icon-small {
	height: 30px;
	width: 18px;
	object-fit: contain;
	margin-right: 10px;
}

.detail {
	display: flex;
	flex-direction: row;
	margin-left: 3px;
	margin-top: 10px;
}

#selling-point {
	margin-top: 50px;
	margin-left: -50px;
}


/* || MAP */

#map {
	width: 100%;
	height: 600px;
	background: transparent;
}


/* || 3D MODEL + TEXT */


.detailed-presentation {
	height: 600px;
	display: flex;
	flex-direction: row;
}

.terrain-model {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
}

#model {
	width: 100%;
	height: 600px;
}

.see-through {
	position: absolute;
	height: 100%;
	width: 500px;
	right: 0px;
	background-color: #101010;
	opacity: 70%;
	z-index: 1;
}

.text {
	margin-left: 130px;
	margin-top: 175px;
	width: 410px;
	height: 200px;
	text-align: justify;
}

.terrain-model .text {
	position: absolute;
	top: 0px;
	right: 10px;
	margin-top: 130px;
	opacity: 100%;
	z-index: 2;
}

.text p {
	font-size: 20px;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	margin-top: 30px;
}


/* || HOUSE STRUCTURE BRAKEDOWN */


.brakedown {
	display: flex;
	flex-direction: row;
	margin: auto;
}

.brakedown video {
	width: 1100px;
}

.brakedown text {
	position: relative;
}

.brakedown-text {
	height: 400px;
	margin-left: 10px;
	margin-right: 100px;
	margin-top: 120px;
}

.brakedown-text-2 {
	margin-top: 30px;
	height: 550px;
}

.corp-casa-text {
	background-color: #303030;
	margin-top: 10px;
	padding: 10px;
	border-radius : 20px;
}

.corp-casa-text p {
	margin-top: 5px;
	margin-left: 20px;
}

.brakedown-title {
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 10px;
}


/* Internal Links */

.local-links {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 700px;
	width: 100%;
	margin: auto;
}

.holder {
	position: relative;
}

.documents,
.construction {
	background-color: #303030;
	height: 700px;
	width: 47%;
	z-index: 2;
	opacity: 80%;
	margin-left: 2%;
}

.construction p,
.documents p {
	margin-top: 35%;
	margin-left: 36%;
	font-size: 50px;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
}

.local-links a:link {
	text-decoration: none;
}

.construction:hover {
	opacity: 40%;
}
.construction:hover p {
	display: none;
}

.documents:hover {
	opacity: 40%;
}
.documents:hover p {
	display: none;
}

#construction-img {
	position: absolute;
	height: 100%;
	width: 47%;
	margin-left: 2%;
	top: 0px;
	object-fit: cover;
	z-index: 1;
	opacity: 100%;
}

#doc-img {
	position: absolute;
	height: 100%;
	width: 47%;
	margin-left: 51%;
	top: 0px;
	object-fit: cover;
	z-index: 1;
	opacity: 100%;
}



/* || Contact Form */


.contact-form {
	height: auto;
	width: 700px;
	margin: auto;
}

.contact-form p {
	margin-bottom: 20px;
}

.contact-form label{
	font-size: 20px;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	margin-left: 20px;
}

.contact-form textarea {
	resize: none;
	height: 300px;
	width: 700px;
	background-color: #101010;
	border: 2px solid #505050;
	border-radius: 2px;
	margin-top: 10px;
	font-size: 18px;

	outline: none;
	color: #cccccc; 
	padding: 20px;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}

.contact-form textarea:focus {
	color: #FFFFFF;
	background-color: #303030;
	border: 2px solid #303030;
}

.contact-form input {
	font-size: 15px;
	height: 40px;
	width: 330px;
	background-color: #101010;
	border: 2px solid #505050;
	border-radius: 2px;

	outline: none;
	padding: 7px;
	padding-left: 20px;
	color: #cccccc; 
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.contact-form input:focus {
	color: #FFFFFF; 
	background-color: #303030;
	border: 2px solid #303030;
}

.contact-form button {
	height: 40px;
	width: 100px;
	margin-left: 600px;
	margin-top: 20px;
	color: #FFFFFF;
	background-color: #101010;
	border-radius: 2px;
	border: 2px solid #505050;
	color: #FFFFFF; 
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.contact-form button:hover {
	background-color: #303030;
	border: 2px solid #303030;
}

.contact-form button:active {
	background-color: #404040;
	border: 2px solid #404040;
}

.contact-phone {
	margin-bottom: 0px;
}

.contact-email {
	margin-bottom: 50px;
}


#number {
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	margin-top:  5px;
	margin-left: 10px;
	margin-bottom: 0px;
}

#email {
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	margin-top:  4px;
	margin-left: 10px;
	margin-bottom: 0px;
	
}

#contact {
	font-size: 40px;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	margin-left: 40%;
	margin-bottom: 70px;
}

/* || Footer */

.footer {
	height: 150px;
	background-color: #202020;
	margin-top: 30px;
}
