
.max_page_width {
	height: auto;
	max-width: 1920px;
	margin: auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: #101010;
	overflow: hidden;
}



/* || VIDEO CAROUSEL */

/* Not so Top-Menu */

.top-menu {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 52%;
	bottom: 0;
	transform: translate(-52%, 0);
	background-color: transparent;
	z-index: 2;
}

.menu-button {
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	opacity: 70%;
	margin-right: 50px;
	margin-bottom: 50px;
	padding-left: 10px;
}

.menu-button:hover {
	text-shadow: 0px 0px 1px #FFFFFF;
	opacity: 100%;
}


@media only screen and (max-width: 1600px) {
	.menu-button {
		opacity: 100%;
		font-size: 20px;
	}

	.top-menu {
		left: 53%;
		transform: translate(-53%, 0);
	}
}

@media only screen and (max-width: 1000px) {
	.top-menu{
		display: none;
	}
}

/* Center Text */

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, 0);
	font-weight: 300;
	z-index: 3;
}

.title p strong {
	background-color: transparent;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 5px;
}

.title p {
	background-color: transparent;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	margin-top: 10px;
}

#welcome_location {
	margin-top: 3px;
}

@media only screen and (max-width: 1000px) {
	.title {
		width: 280px;
		margin: auto;
	}
	#welcome_name{
		width: auto;
		width: 280px;
		text-align: center;
	}
}

/* Video and Image Carousel */

.background {
	height: 100vh;
	width: 100%;
	max-width: 1920px;
}

.main_carousel {
	position: absolute;
	z-index: 1;
	height: 100vh;
	width: 100%;
	max-width: 1980px;
	object-fit: cover;
}

#intro-video {
	width: 100%;
	height: 100vh;
	left: 10px;
	object-fit: cover;
	z-index : 1;
}

.video {
	position: relative;
}





/* ||  HOUSE QUICK INFO */

.quick-info {
	z-index: 1;
	height: 600px;
	background-color: #191d1d;
	box-shadow: 0px -40px 60px #101010;
}


.align-horizontal {
	width: 700px;
	display: flex;
	flex-direction: column;
	margin:auto;
	margin-top: 100px;
	color: #F4F4F9;
}

.align-horizontal p {
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}

.align-vertical {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-left: 140px;
}

.aligh-vertical p {
	margin-top: 0px;
	margin-bottom: 0px;
}


.icon {
	height: 20px;
	width: 13px;
	object-fit: contain;
	margin-right: 14px;
	margin-left: 3px;
	margin-bottom: 5px;
}

.icon-small {
	height: 20px;
	width: 20px;
	object-fit: contain;
	margin-right: 10px;
}

.detail {
	display: flex;
	flex-direction: row;
	margin-left: 40px;
}

.detail-1 {
	margin-left: 0;
}


#info-sentance {
	font-size: 21px;
	font-weight: 400;
	width: 700px;
	text-align: center;
	line-height: 1.5;
}

#selling-point {
	margin-top: 25px;
	margin-left: 130px;
	font-size: 18px;
	font-weight: 300;
}




@media only screen and (max-width: 700px) {
	.quick-info {
		height: 800px;
		width: 100%;
		margin-left: 0px;
	}

	.align-horizontal {
		width: 90%;
		margin-top: 70px;
	}	

	.align-vertical {
		margin-left: 0px;
		flex-direction: column;
		margin: auto;
		margin-top: 50px;
	}

	.detail {
		margin-top: 10px;
		margin-left: 0px;
	}

	#info-sentance {
		width: 80%;
		margin: auto;
	}

	#selling-point{
		margin-left: 0px;
		width: 70%;
		margin: auto;
		margin-top: 50px;
		text-align: center;
	}

	#tracking-mouse {
		display: none;
	}
}


/* || 3D MODEL + TEXT */



.detailed-presentation {
	height: auto;
	display: flex;
	flex-direction: row;
}

.terrain-model {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
}

#model {
	width: 100%;
	height: 800px;
	cursor: -webkit-grab;
}

#model:active {
	cursor: -webkit-grabbing;
}

.see-through {
	position: absolute;
	height: 100%;
	width: 32%;
	right: 0px;
	background-color: #101010;
	opacity: 70%;
	z-index: 1;
}


.terrain-model .text {
	position: absolute;
	top: 0px;
	right: 10px;
	margin: auto;
	margin-top: 13%;
	opacity: 100%;
	z-index: 1;
	margin-right: 4%;
	width: 400px;
}



@media only screen and (max-width: 1600px) {


	.terrain-model {
		display: block;
		position: relative;
		flex-direction: column;
		height: auto;
	}	

	#model {
		height: 700px;
	}

	.see-through {
		display: none;
	}
	
	.terrain-model .text {
		display: block;
		position: relative;
		width: 500px;
		height: auto;
		margin: auto;
		margin-top: 20%;
		margin-bottom: 20%;
	}

	#structura .padding {
		height: 0px;
	}
}

@media only screen and (max-width: 900px) {
	#model {
		height: 400px;
	}
}

/* || HOUSE STRUCTURE BRAKEDOWN */


.brakedown {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 100%;
	overflow: hidden;
	background-color: #191d1d; 
	padding-top: 70px;
	padding-bottom: 70px;
}

#brakedown-padding {
	height: 200px;
}

.brakedown video {
	width: 1100px;
	border-radius: 5px;
	opacity: 70%;
	transition: 0.5s 0s;
	margin: auto;
	box-shadow: 3px 3px 10px 0.1px #101010;
}

.brakedown video:hover {
	width: 1200px;
	opacity: 100%;
	transition: 0.5s 0s;
}

.brakedown-1 {
	margin-left: 500px;
}

#brakedown-1:hover {
	cursor: pointer; 
}

#brakedown-2:hover {
	cursor: pointer; 
}

.brakedown text {
	position: relative;
}

.brakedown-text {
	height: 400px;
	margin: auto;
	width: 350px;
}

.brakedown-text-2 {
	margin-top: 0px;
	height: auto;
	margin-left: 50px;
	margin: 0 auto;
}


.brakedown-min-screen {
	display: none;
}

.corp-casa-text {
	background-color: #252b2b;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 3px 3px 10px 0.1px #101010;
	border-radius : 7px;
}

.corp-casa-text p {
	margin-top: 5px;
	margin-left: 20px;
}

.brakedown-title {
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 10px;
}


@media only screen and (max-width: 1600px) {
	.brakedown {
		position: relative;
		flex-direction: column;
		width: 100%;
	}

	.brakedown-text,
	.brakedown-text-2,
   	.brakedown-min-screen {
		width: 500px;
		margin: auto;
		height: auto;
		margin-top: 30px;
	}

	.brakedown-text {
		display: none;
	}
	.brakedown-min-screen {
		display: block;
		margin-bottom: 100px;
	}

	.brakedown video {
		width: 80%;
		margin: auto;
	}
	.brakedown video:hover {
		width: 90%;
		margin: auto;
	}

	#brakedown-1 {
	}

	#brakedown-padding {
		height: 100px;
	}

}

@media only screen and (max-width: 900px) {

	
	.brakedown video {
		width: 100%;
		border-radius: 0px;
		opacity: 90%;
	}

	.brakedown video:hover {
		width: 100%;
	}
	
	.brakedown {
		margin-top: 50px;
	}

	.brakedown-text p {
	}

	#padding-brakedown {
		display: none;
	}
}


/* Internal Links */

.local-link {
	position: relative;
	margin: auto;
	height: 700px;
	width: 1150px;
	display: flex;
	transition: 0.2s 0s;
	overflow: hidden;
}

.construction {
	background-color: #303030;
	height: 700px;
	width: 100%;
	z-index: 2;
	opacity: 40%;
	border-radius: 5px;
	filter: grayscale(100%);
	transition: 0.2s 0s;
	font-size: 10vw;
}

.local-link p {
	display: none;
	position: absolute;
	margin-top: 30%;
	margin-left: 50%;
	transform: translate(-40%, -20%);
	font-size: 50px;
	color: #FFFFFF;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-weight: 100;
	transition: 0.242s 0s;
}

.local-link a:link {
	text-decoration: none;
}

.local-link:hover {
	width: 100%;
	transition: 1.5s 0s;
}

.local-link:hover p {
	display: block;
	font-weight: 900;
	font-size: 10vw;
	opacity: 35%;
	margin-top: 25%;
	margin-left: 45%;
	transition: 1.2s 0s;
	z-index: 2;
}

.construction:hover {
	opacity: 50%;
	filter: grayscale(50%);
	transition: 1s 0s;
	font-weight: 900px;
}

#construction-img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	object-fit: cover;
	z-index: 1;
	opacity: 100%;
	border-radius: 5px;
}


@media only screen and (max-width: 1600px) {
	.local-link {
		width: 100%;
	}

	.local-link p {
		margin-top: 50%;
		margin-left: 50%;
		transform: translate(-50%, -50%);
	}
}


/* Real Photos */

.photos {
	width: auto;
	height: 600px;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.photos img {
	filter: grayscale(100%);

}

.real-image {
	width: 190px;
	height: 100%;
	object-fit: cover;
	margin-left: 50px;
	border-radius: 5px;
	transition: 0.3s 0.07s;
	box-shadow: 3px 3px 10px 0.1px #050505;
}

.real-image:hover {
	width: 700px;
	transition: 0.5s 0s;
	filter: grayscale(0%);
}

.real-first {
	margin-left: 0px;
}

.photo-1,
.photo-2 {
	display: flex;
	flex-direction: row;
	height: 600px;
	margin: auto;
	margin-top: 30px;
}

#lonely {
	height: 600px;
	margin: auto;
	margin-top: 30px;
	margin-left: 50px;
}

@media only screen and (max-width: 1600px) {

	#brakedown-padding {
		display: none;
	}

	.photos {
		flex-direction: column;
		height: auto;
		margin: auto;
		display: none;
	}	

	.real-image:hover {
		width: 500px;
	}

	#real-second {
		margin: auto;
	}

	#lonely {
		display: none;
	}
}


@media only screen and (max-width: 900px) {
	.photos img {
		width: 100%;
		filter: grayscale(0%);
	}

	.real-image:hover {
		width: 100%;
		margin: auto;
	}	

	.photos {
		flex-direction: column;
	}

	.photo-1,
	.photo-2 {
		flex-direction: column;
	}

	.real-image,
	.real-first {
		margin: auto;
		padding-bottom: 30px;
	}

	.real-image {
		width: 100%;	
		filter: grayscale(0%);
		border-radius: 0px;
	}
	.real-image:hover {
		width: 100%;
	}

}


/* || MAP */

#map {
	width: 100%;
	height: 750px;
}

.contact-map {
	display: flex;
	flex-direction: row;
	background-color: #151515;
	position: relative;
}


@media only screen and (max-width: 1600px) {
	#map {
		width: 100%;
	}

	.contact-map {
		display: block;
		background-color: #101010;
	}
}

@media only screen and (max-width:900px) {
	#map {
		width: 100%;
		height: 600px;
	}
}


/* || Contact Form */

.see-through-contact {
	position: absolute;
	height: 750px;
	width: 700px;
	right: 0px;
	background-color: #191d1d;
	opacity: 100%;
	z-index: 1;
}

.contact-form {
	margin-right: 50px;
}

.contact-form textarea,
.contact-form input {
	margin-left: 20px;
}

#contact {
	margin-left: 20px;
}

.contact-form button {
	margin-left: 520px;
}

@media only screen and (max-width: 1600px) {
	.see-through-contact {
		display: none;
	}

	.contact-form {
		width: 630px;
		margin: auto;
		margin-top: 100px;
	}

	.contact-form textarea,
	.contact-form input,
	.contact-form button {
		background-color: #101010;
	}

	#email,
	#number {
		font-size: 20px;
	}
}

@media only screen and (max-width:900px) {
	.see-through-contact {
		width: 100%;
	}

	.contact-form,
	.contact-form textarea,
	.contact-form input {
		width: 90%;
	}

	.contact-form button {
		margin-left: 60%;
	}
}

/* || Footer */

.special {
	height: 150px;
}

.footer {
	height: 300px;
	background-color: #191d1d;
	margin-top: 30px;
	position: relative;
}

.ext-links img {
	height: 40px;
	width: 40px;
	overflow: hidden;
	object-fit: cover;
}


.designed,
.copyright {
	margin: auto;
	color: #b0b0b0;
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}
.designed {
	margin-top: 50px;
}

.designed a {
	text-decoration: none;
	color: #AB8773;
	
}

.copyright {
	margin-bottom: 50px;
	font-weight: 300;
}


.framing {
	width: 300px;
	height: 100px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	flex-direction: column;
}


@media only screen and (max-width: 1600px) {
	.designed,
	.copyright {
		font-size: 20px;
	}

	.copyright {
		width: 380px;
	}

	.framing {
		width: auto;
	}
}

@media only screen and (max-width: 900px) {
	.designed,
	.copyright {
		font-size: 15px;
	}

	.designed {
		margin-top: 50%;
		margin-top: 30px;
	}

	.copyright {
		width: 85%;
	}

	.framing {
		width: auto;
	}
	
}


/* MOUSE TRACKER ON CONSTRUCTION BUTTON */

#tracking-mouse {
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #505050;
	opacity: 70%;
	margin-left: -30px;
	margin-top: 10px;
}

#logo-img {
	bottom: 50px;
	left: 50px;
	z-index: 5000;
	margin: auto;
	margin-bottom: 50px;
}

#logo-img-footer {
	width: 80px;
	height: auto;
	margin: auto;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 50px;
}
